/* Setup-grejer och annat */

:root {
    --main-color: #b58b63;
    --other-color: #f6efe8;
    --green: #a5b58d;
    --text-color: rgb(50, 50, 50);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 1.67vw;
}

body {
    background-color: var(--green);
    color: var(--text-color);

    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header,
footer {
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 2px var(--green);
}

a {
    color: unset;

    text-decoration: none;
}

.wrapper {
    display: grid;

    margin: 5px;
    gap: 1vw;
}

.logo {
    display: block;
    width: 8vh;
    height: 8vh;
}

footer {
    grid-area: ft;

    height: 10vh;
}

main {
    grid-area: mn;

    padding: 10px;

    background-color: var(--main-color);
}
section {
    padding: 10px;

    background-color: var(--main-color);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;

    margin-top: 0px;
}
h3 {
    margin-bottom: 0px;
}

#pictures {
    grid-area: pc;
}
#links {
    grid-area: lk;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-area: hd;

    height: 10vh;

    background-color: var(--other-color);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
}
#pages {
    list-style-type: none;
}
#pages > li {
    float: left;
    display: block;
}
#pages > li > a {
    padding: 2vh;
}

#pages > li > a:hover {
    filter: brightness(90%);
}

#pages,
li,
a {
    background-color: inherit;
}

/* Denna biten är lite goofy, men det är så att loggan i mitten alltid är precis i mitten, vilket
    jag inte lyckades fixa med flexbox*/
#title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;

    gap: 12px;
}
#title > * {
    margin-top: auto;
    margin-bottom: auto;
}
#title > h1 {
    text-align: end;
}
#title > p {
    text-align: start;
}

/* Footer */
footer {
    background-color: var(--other-color);
}

/* Landing Page */
#LandingPage {
    grid-template-areas:
        "hd hd"
        "lk mn"
        "pc pc"
        "ft ft";

    grid-template-columns: 1fr 2fr;
}

/* Menu */
#Menu {
    grid-template-areas:
        "hd hd"
        "qk in"
        "mn mn"
        "ft ft";

    grid-template-columns: 1fr 3fr;
}

#menu {
    grid-area: mn;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: center;
}
#menu > h2 {
    font-size: 2rem;
}

#menu > section {
    gap: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu_item {
    background-color: seagreen;

    position: relative;

    aspect-ratio: 1.15;

    display: grid;

    grid-template-rows: 1fr auto auto minmax(0px, var(--p-height));
    transition:
        --p-height 0.5s,
        grid-template-rows 0.5s;

    --p-height: 0px;

    overflow: hidden;

    animation: B 0.25s;
}

.menu_item:hover {
    filter: brightness(105%);

    /*grid-template-rows: 1fr auto auto 1fr;*/

    --p-height: 200px;
}

@property --p-height {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

.menu_item > img {
    height: 50%;
    background-color: orange;
    scale: 0.5;
}

#bakverk,
#lunch,
#drycker {
    padding-top: 10px;
}

.product_image {
    margin-top: 10px;

    background-image: url(/img/bakverk/bread.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.product_description {
    overflow: hidden;
    font-size: 0.8rem;
}

.productInfo {
    grid-template-columns: 1fr 75% 1fr;

    width: 60%;
    margin-bottom: 2%;
}

.price {
    position: absolute;
    right: 10px;
    bottom: 10px;

    font-weight: bold;
    text-align: end;
}

.productTags {
    position: absolute;
    left: 10px;
    bottom: 10px;

    width: 15%;

    /*background-color: green;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.productTags > * {
    scale: 0.8;
    filter: invert(18%) sepia(0%) saturate(1002%) hue-rotate(246deg)
        brightness(91%) contrast(90%);
    width: 100%;
}

/*About us*/
#AboutUs {
    grid-template-areas:
        "hd hd hd"
        "pl pl hs"
        "cn in in"
        "ft ft ft";

    grid-template-columns: 1fr 1fr 1fr;
}

#people {
    grid-area: pl;

    display: grid;

    gap: 2vh 2vh;
    padding: 3%;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#people > div {
    filter: brightness(90%);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    gap: 2px;

    height: 20vh;
    padding: 5px;
}
#people > div > h2 {
    font-size: 0.8rem;
    text-align: center;
}

#people > div > img {
    max-width: 100%;
    max-height: 70%;
}

#history {
    grid-area: hs;
}
#info {
    grid-area: in;
}
#quick {
    grid-area: qk;
}
#contact {
    grid-area: cn;
}

/* Reveal card */

.reveal_card {
    aspect-ratio: 0.95;
    width: 25vw;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}
.reveal_card > * {
    flex-shrink: 0;
}

.revealed {
    max-height: 0px;
    transition: max-height 0.5s;
}
.reveal_card:hover > .revealed {
    max-height: 100%;
    transition: max-height 0.5s ease-in-out;
}

/* Temporärt */
